<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SOSTAGE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errore404.jsp</location>
  </error-page>
  <filter>
    <filter-name>LoggedFilter</filter-name>
    <filter-class>filter.LoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/studente/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/azienda/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/presidente/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/tutorEsterno/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/tutorInterno/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/Ufficio/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudenteFilter</filter-name>
    <filter-class>filter.StudenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudenteFilter</filter-name>
    <url-pattern>/studente/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AziendaFilter</filter-name>
    <filter-class>filter.AziendaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AziendaFilter</filter-name>
    <url-pattern>/azienda/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PresidenteFilter</filter-name>
    <filter-class>filter.PresidenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PresidenteFilter</filter-name>
    <url-pattern>/presidente/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TutorEsternoFilter</filter-name>
    <filter-class>filter.TutorEsternoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TutorEsternoFilter</filter-name>
    <url-pattern>/tutorEsterno/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TutorInternoFilter</filter-name>
    <filter-class>filter.TutorInternoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TutorInternoFilter</filter-name>
    <url-pattern>/tutorInterno/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UfficioFilter</filter-name>
    <filter-class>filter.UfficioFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UfficioFilter</filter-name>
    <url-pattern>/ufficio/*</url-pattern>
  </filter-mapping>
</web-app>